k8s {
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
   storageClaimName = 'pvctristan'
   storageMountPath = '/data'
}

manifest {
   mainScript = 'main.nf'
}

process {
   executor = 'k8s'
   scratch = true
   withName: sayHello {
      container 'alpine'
      executor 'k8s'

      pod {
          nodeAffinity {
              requiredDuringSchedulingIgnoredDuringExecution {
                  nodeSelectorTerms {
                      with {
                         matchExpressions {
                              key 'kubernetes.io/hostname'
                              operator 'In'
                              values ' hu-worker-c27'
                          }
                      }
                  }
              }
          }
      }       
   }
}

docker {
   enabled = true
}
