k8s {
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
   storageClaimName = 'pcvtristan'
   storageMountPath = '/workdir'
}

manifest {
   mainScript = 'main.nf'
}

process {
   executor = 'k8s'
   scratch = true
   withName:sayHello {
      container = 'tristanaretz/sayHello'
   }
}

docker {
   enabled = true
}
