manifest {
   mainScript = 'main.nf'
}

params {
   in = 'data/filtered_mutated.fasta'
   outdir = 'data/results'
   threads = 1
   baseDir = 'path/to/bin'
   split = 4
   suffix_length = 3
}

plugin {
   id 'nf-cws'
}

process {
   executor = 'k8s'
}

docker {
   enabled = true
}

k8s {
   debug {
      yaml = true
   }
   fetchNodeName = true
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
   storageClaimName = 'pcvtristan'
   storageMountPath = '/data'
}
